**/.DS_Store
**/.vscode
**/.zed
**/.ropeproject
**/__pycache__

examples/output
examples/profile.out
examples/input/main
examples/input/main.ll
examples/input/overflow.ll
examples/input/local_stack_64.ll
examples/debug_branch_info.txt

flamegraph.sh
flamegraph.svg

poetry.lock
pyrightconfig.json
pyrefly.toml
